<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shmingjiang.www.mldaq">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.LineActivity"/>
        <activity android:name=".ui.AllDeviceActivity" />
        <activity android:name=".ui.FoamingMachineActivity" />
        <activity android:name=".ui.PerfusionMachineActivity" />
        <activity android:name=".ui.WeldmentActivity" />
        <activity android:name=".ui.HWActivity"/>

        <service android:name=".service.ComService"/>
    </application>

</manifest>