<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingjiang.android.equipmonitor" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".activity.EquipMonitorMainActivity"/>

        <activity android:name=".activity.LineActivity"/>
        <activity android:name=".activity.AllDeviceActivity" />
        <activity android:name=".activity.FoamingMachineActivity" />
        <activity android:name=".activity.PerfusionMachineActivity" />
        <activity android:name=".activity.WeldmentActivity" />
        <activity android:name=".activity.HWActivity"/>

        <service android:name=".service.ComService"/>

    </application>

</manifest>
